.map-page-container {
    position: relative;
}

.map-page-container .nav-and-back-button {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 0.5em;
    gap: 0.25em;
    z-index: 100;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.map-page-container .nav-and-back-button > button {
    padding: 0.25em 0.5em;
    background-color: white;
    color: #C23B22;
    font-weight: 500;
    border: none;
    box-shadow: 0 4px 4px rgba(32, 30, 30, 0.25);
    border-radius: 8px;
    cursor: pointer;
    align-self: flex-end;
}

.map-page-container .search-bar-container .back-button {
    padding: 0 0.75em;
    background-color: white;
    border: none;
    box-shadow: 0 4px 4px rgba(32, 30, 30, 0.25);
    border-radius: 8px;
    cursor: pointer;
}