.map-page-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.map-page-container .search-bar-container {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 0.5em;
    gap: 0.25em;
    z-index: 10;
    max-width: 500px;
    margin: 0 auto;
}

.map-page-container .search-bar-container .back-button {
    padding: 0 0.75em;
    background-color: white;
    border: none;
    box-shadow: 0 4px 4px rgba(32, 30, 30, 0.25);
    border-radius: 8px;
    cursor: pointer;
}

.map-page-container .restaurant-cards-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5em;
    width: 100%;
    z-index: 10;
    max-width: 500px;
    margin: 0 auto;
}