/*
Description: Map stylesheet to style the Map component
Author: Ryan Henzell-Hill
Contact: ryan.henzell-hill@outlook.com
*/

.mapboxgl-ctrl-attrib-inner, .mapboxgl-control-container {
    display: none;
}

.mapboxgl-map, .user-location-popup .mapboxgl-popup-content {
    box-shadow: 0.25em 0.25em 0.5em rgba(128, 128, 128, 0.35);
}

.mapboxgl-map {
    margin-bottom: 2em;
}

.mapboxgl-popup-content {
    max-width: 150px;
}

.mapboxgl-popup-content p:first-child {
    margin-bottom: 0.25em;
}

.mapboxgl-popup-content .icon {
    margin-right: 0.5em;
    color: #F49D1A;
    font-size: 1rem;
}

.location-marker-icon {
    color: #F6F1F1;
    background-color: #19A7CE;
    padding: 0.5em;
    border-radius: 50%;
    border: solid 3px #F6F1F1;
    box-shadow: 0.5em 0.5em 1em rgba(128, 128, 128, 0.7);
}

.restaurant-marker-container {
    position: relative;
}

.restaurant-marker-container .marker {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 5px white;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;

    transition-property: height, width;
    transition-duration: 0.4s;
}

.restaurant-marker-container.selected .marker {
    width: 75px;
    height: 75px;
}

.restaurant-marker-container .marker img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 5;
    position: relative;
}

.restaurant-marker-container .triangle::after {
    content: "";
    width: 7px;
    height: 7px;
    position: absolute;
    background-color: white;
    bottom: -2px;
    left: 42%;
    transform: rotate(45deg);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
    z-index: 0;
    border-radius: 2px;
    transition-duration: 0s;
    transition: all 0.4s;
}

.restaurant-marker-container.selected .triangle::after {
    left: 45%;
}
