/*
Description: Map stylesheet to style the Map component
Author: Ryan Henzell-Hill
Contact: ryan.henzell-hill@outlook.com
*/

.mapboxgl-ctrl-attrib-inner, .mapboxgl-control-container > *:not(.mapboxgl-ctrl-top-right) {
    display: none;
}

.mapboxgl-popup-content {
    box-shadow: 0.25em 0.25em 0.5em rgba(128, 128, 128, 0.35);
    max-width: 150px;
    padding: 0.75em;
    border-radius: var(--border-radius);
}

.mapboxgl-popup-content .content {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.mapboxgl-popup-content p .icon {
    margin-right: 0.5em;
    color: #F49D1A;
    font-size: var(--font-size-icon-small);
}