/*
Description: Map stylesheet to style the Map component
Author: Ryan Henzell-Hill
Contact: ryan.henzell-hill@outlook.com
*/

.mapboxgl-ctrl-attrib-inner, .mapboxgl-control-container {
    display: none;
}

.mapboxgl-map, .user-location-popup .mapboxgl-popup-content {
    box-shadow: 0.25em 0.25em 0.5em rgba(128, 128, 128, 0.35);
}

.mapboxgl-map {
    margin-bottom: 2em;
}

.mapboxgl-popup-content {
    max-width: 150px;
}

.mapboxgl-popup-content p:first-child {
    margin-bottom: 0.25em;
}

.mapboxgl-popup-content .icon {
    margin-right: 0.5em;
    color: #F49D1A;
    font-size: 1rem;
}

.restaurant-marker, .location-marker {
    width: 35px;
}

.restaurant-marker.selected {
    width: 45px;
}
