/* .details-page-navigation {
    display: flex;
    position: sticky;
    top: 100px;
    gap: 0.5em;
    padding:  0.5rem;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid lightgrey;
} */

.details-page-navigation button {
    background: none;
    border: none;
    color: black;
    border-bottom: solid 3px rgba(255, 255, 255, 0);
    font-weight: var(--font-weight-bold-1);
    letter-spacing: 0.05rem;
    font-size: var(--font-size-smaller);
    padding: 0.5em 0 0.25em;
    width: 100%;
    transition: all 0.35s ease-in;
}

.details-page-navigation button.active {
    border-bottom-color: var(--primary-theme);
    color: var(--primary-theme);
    font-weight: var(--font-weight-bold-3);
}