.profile-page-container {
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 2em;
    border-bottom: solid 6px var(--primary-theme);
}

.profile-page-container button {
    background: none;
    border: none;
}

.profile-page-container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
    border-bottom: solid 1px lightgrey;
}

.profile-page-container header h1 {
    font-size: 1rem;
    font-weight: 500;
}

.profile-page-container header button {
    color: var(--secondary-theme);
    font-weight: var(--font-weight-bold-2);
    font-size: var(--font-size-smaller);
}

.profile-page-container header button .icon {
    margin-right: 0.5em;
}

.profile-page-container .profile-info-container {
    text-align: center;
    font-weight: var(--font-weight-bold-1);
}

.profile-page-container .profile-info-container .user-icon-container {
    border: solid 4px lightgrey;
    border-radius: 50%;
    position: relative;
    width: fit-content;
    margin: 0 auto 1em;
}

.profile-page-container .sign-out-button {
    background-color: var(--primary-theme);
    color: white;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: var(--font-weight-bold-1);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.profile-page-container .sign-out-button:hover {
    background-color: var(--secondary-theme);
}

.profile-page-container .options-container {
    display: flex;
    flex-direction: column;
    /*padding: 0 0.75em;*/
    /*background-color: var(--background-theme);*/
    /*border-radius: var(--border-radius);*/
}

.profile-page-container .options-container a:first-child {
    /*border-top: solid 1px grey;*/
}

.profile-page-container .options-container a:not(:last-child) {
    border-bottom: solid 1px grey;
}

.profile-page-container .options-container a {
    text-align: left;
    text-decoration: none;
    color: black;
    font-weight: var(--font-weight-bold-1);
    padding: 1em 0;
    /*border-bottom: solid 1px grey;*/
}

.profile-page-container .options-container a .icon {
    color: black;
    margin-right: 0.5em;
    width: 20px;
}