.secondary.default-button {
    background-color: var(--dark-theme-contrast);
    color: white;
    border: solid 2px var(--dark-theme-contrast);
}

.secondary.default-button .icon {
    color: white;
}