@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap");

.App {
  text-align: center;
  justify-content: center;
}

.Heading {
  margin-top: 50px;
}

.textBar {
  border-width: 2px;
  border-color: #797979;
  border-radius: 8px;
  height: 35px;
  width: 500px;
  margin-top: 5px;
  padding: 0 8px;
}

.grey {
  color: #797979;
  margin-top: 20px;
}

.link {
  color: #176bcd;
  text-decoration: none;
  margin-left: 5px;
}

.auth-button {
  background-color: #c23b22;
  border-width: 0px;
  border-radius: 5px;
  height: 60px;
  width: 304px;
  color: #ffffff;
  font-size: 18px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App img {
  margin-right: 15px;
}
