.AuthPage .textBar {
  border-width: 2px;
  border-color: #797979;
  border-radius: 5px;
  height: 40px;
  width: 300px;
}

.AuthPage .grey {
  color: #797979;
}

.AuthPage .link {
  color: #176BCD;
  text-decoration: none;
}

.AuthPage .button {
  background-color: #C23B22;
  border-width: 0px;
  border-radius: 5px;
  height: 60px;
  width: 304px;
  color: #FFFFFF;
  font-size: 18px;
}

.AuthPage .Google::before {
  content: url(google.png);
}

.AuthPage .Facebook::before {
  content: url(Facebook.png)
}