.form-field {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-size: var(--font-size-sub-heading);
}

.form-field input {
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    padding: 0.5rem;
    font-size: 1rem;
    outline: none;
}

.form-field input:focus {
    border-color: var(--secondary-theme);
}