/*
Description: Restaurant card stylesheet to style the RestaurantCard component
Author: George Ball
Contact: georgeball14@hotmail.com
*/

/* restaurant card container */
.restaurant-card {
    display: flex;
    gap: 0.5em;
    justify-content: space-between;
    padding: 0.75em;
    border: 1px solid lightgrey;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(32, 30, 30, 0.25);
    cursor: pointer;
    background-color: white;
    width: 100%;
    height: 145px;
    border-bottom: solid 6px #C23B22;
    transition-property: left;
    transition-duration: 0.5s;
}

/* details container */
.restaurant-card .details-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

/* restaurant name */
.restaurant-card .details-container h3 {
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0;
}

/* rating container */
.restaurant-card .details-container .rating-container {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

/* star icon */
.restaurant-card .details-container .rating-container .icon {
    color: #F49D1A;
    margin-right: 0.1em;
}

/* numerical rating */
.restaurant-card .details-container .rating-container span {
    margin-left: 0.25em;
}

/* hours container */
.restaurant-card .details-container .hours-container {
    color: #5a5a5a;
    font-size: 0.75rem;
    white-space: nowrap;
}

/* distance icon */
.restaurant-card .details-container .hours-container .icon {
    color: #999;
    padding-right: 0.25em;
}

/* price and cuisine container */
.restaurant-card .details-container .price-cuisine-container {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
}

/* cuisine */
.restaurant-card .details-container .cuisine {
    color: #5a5a5a;
    font-size: 0.75rem;
}

/* before cuisine */
.restaurant-card .details-container .cuisine::before {
    content: "\2022";
    margin-right: 0.35em;
    margin-left: 0.35em;
}

/* container on rhs of card */
.restaurant-card .container-rhs {
    display: flex;
    height: fit-content;
}

.restaurant-card .container-rhs .icons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.75em;
    align-items: center;
}

/* map location icon */
.restaurant-card .container-rhs .icon {
    font-size: 1.4rem;
    color: #C23B22;
}

/* restaurant image container */
.restaurant-card .container-rhs .image-container {
    width: 90px;
    height: 80px;
    margin-left: 0.75em;
    border-radius: 8px;
    overflow: hidden;
}

/* restaurant image */
.restaurant-card .container-rhs .image-container img {
    width: 100%;
    height: 100%;
}