.reviews-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    letter-spacing: 0.01rem;
    line-height: 1rem;
}

.reviews-container .review {
    background-color: white;
    padding: 1rem;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
}

.reviews-container .review header {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    border-bottom: solid 1px lightgrey;
    padding-bottom: 1em;
}

.reviews-container .review header .author-details {
    display: flex;
    align-items: center;
    gap: 0.75em;
}

.reviews-container .review header .author-details div .display-name {
    font-size: var(--font-size-sub-heading);
    font-weight: var(--font-weight-bold-1);
    margin-bottom: 0.25em;
}

.reviews-container .review header .author-details div p:nth-child(2) {
    font-size: var(--font-size-smaller);
    font-weight: var(--font-weight-regular);
}

.reviews-container .review h3 {
    text-align: left;
    color: var(--primary-theme);
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-bold-2);
    margin-bottom: 0.25em;
    text-transform: capitalize;
}

.reviews-container .review header div button {
    font-size: 1rem;
}

.reviews-container .review header div button:first-child {
    margin-right: 0.25em;
}

.reviews-container .review header div button .icon {
    color: dimgrey;
}

.reviews-container .review header div button .icon:hover {
    color: grey;
}

.reviews-container .review .rating-and-date-container {
    display: flex;
    justify-content: space-between;
}

.reviews-container .review .rating-and-date-container p {
    font-size: var(--font-size-smaller);
    font-weight: normal;
}

.reviews-container .review .rating-and-date-container p strong {
    font-weight: var(--font-weight-bold-1);
}

.reviews-container .review p {
    text-align: left;
    font-size: var(--font-size-sub-heading);
    line-height: 1.5;
}

.reviews-container .buttons-container {
    display: flex;
    gap: 0.4em;
}

.reviews-container .buttons-container p {
    color: black;
}

.reviews-container button {
    background: none;
    border: none;
}

.reviews-container .review > .buttons-container button {
    font-size: 1.2rem;
}

.reviews-container .review > .buttons-container button:last-child {
    transform: rotate(180deg);
}

.confirm-delete-popup {
    background-color: white;
    position: absolute;
    z-index: 15000;
    color: black;
    top: 0.5em;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 90%;
    max-width: 220px;
    padding: 0.5em 0.75em;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    border: solid 1px lightgrey;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-bottom: solid 6px var(--primary-theme);
}

.confirm-delete-popup p {
    align-self: center;
}

.confirm-delete-popup .buttons-container {
    display: flex;
    gap: 0.5em;
    justify-content: center;
    margin-top: 0.5em;
}

.confirm-delete-popup .buttons-container button:first-child {
    background-color: var(--primary-theme);
    color: white;
}

.confirm-delete-popup .buttons-container button:last-child {
    background-color: white;
    color: var(--primary-theme);
}

.confirm-delete-popup .buttons-container button:hover {
    background-color: var(--secondary-theme);
    border-color: var(--secondary-theme);
    color: white;
}

.confirm-delete-popup .buttons-container button {
    border: solid 2px var(--primary-theme);
    border-radius: var(--border-radius);
    width: 50%;
    text-align: center;
    display: inline-block;
    padding: 0.35em 0;
    font-size: var(--font-size-sub-heading);
    font-weight: var(--font-weight-bold-1);
}
