.user-icon {
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.user-icon img {
    height: 80%;
    width: 80%;
    border-radius: 50%;
}

.user-icon .icon {
    color: lightgrey;
    height: 100%;
    width: 100%;
}