.check-ins-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-content);
    background-color: white;
  }
  
  .check-ins-card .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .check-ins-card .user-icons {
    display: flex;
    gap: 4px;
  }
  
  .check-ins-card .user-icons img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .check-ins-card .restaurant-name {
    font-size: var(--font-size-sub-heading);
    font-weight: var(--font-weight-bold-1);
    margin-top: 8px;
  }
  
  .check-ins-card .visit-date {
    font-size: var(--font-size-sub-heading);
    color: var(--dark-theme);
  }
  
  .check-ins-card .visit-date span {
    font-weight: var(--font-weight-bold-2);
    margin-left: 0.25em;
  }