.collage-container {
    display: grid;
    grid-gap: 0.5em;
    width: 100%;
    max-width: 500px;
    margin: var(--margin-align-center);
    height: 100%;
    padding: var(--padding-content);
}

.collage-container > * {
    min-height: 120px;
}

.collage-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collage-container .add-photo-button {
    border: none;
    background-color: lightgrey;
}

.collage-container .add-photo-button .icon {
    color: white;
    width: 30%;
    height: 30%;
}

.collage-container .collage-image-wrapper .select-image-button {
    height: 25px;
    width: 25px;
    position: absolute;
    bottom: 0.5em;
    border-radius: 50%;
    right: 0.5em;
    background-color: rgba(128, 128, 128, 0.8);
    border: solid 2px grey;
    z-index: 1000;
}

.collage-container .collage-image-wrapper .select-image-button .icon {
    color: rgba(211, 211, 211, 0.5);
    width: 100%;
    height: 100%;
}

.collage-container .collage-image-wrapper .select-image-button.selected .icon {
    color: var(--secondary-theme);
}

.collage-container .collage-image-wrapper .select-image-button.selected {
    background-color: white;
    border-color: white;
}

.collage-container .collage-image-wrapper.clickable {
    cursor: pointer;
}

.selection-header {
    margin-bottom: -0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selection-header .primary.default-button,
.selection-header .inverse-primary.default-button {
    width: fit-content;
    margin: 0;
}

.selection-header h3 {
    font-size: var(--font-size-sub-heading);
    font-weight: var(--font-weight-bold-1);
    text-align: center;
}

.selection-header .buttons-container {
    display: flex;
    gap: 0.5em;
}
  