.collage-container {
    display: grid;
    grid-gap: 0.5em;
    width: 100%;
    max-width: 500px;
    margin: var(--margin-align-center);
    height: 100%;
    padding: var(--padding-content);
}

.collage-container > * {
    min-height: 120px;
}

.collage-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collage-container .add-photo-button {
    border: none;
    background-color: lightgrey;
}

.collage-container .add-photo-button .icon {
    color: white;
    width: 40%;
    height: 40%;
}
  