@import "mixins";

/* Define variables and values */
$textcolor: darkblue;
$textcolor1: #797979;
$textcolor2: #176bcd;
$textcolor3: #ffffff;
$bgcolor: #c23b22;
$fonts: "Poppins", Helvertica, sans-serif;
$font-size: 18px;
$border-radius: 8px;
$margin-top: 20px;

.App {
  @include center;

  img {
    margin-right: 0 auto;
  }
}

.Heading {
  margin-top: 50px;
}

.textBar {
  border-width: 2px;
  border-color: $textcolor1;
  border-radius: $border-radius;
  height: 35px;
  $margin-top: 5px; 
  @include align;
  padding: 0 8px;
}

.grey {
  color: $textcolor1;
  margin-top: $margin-top;
}

.link {
  color: $textcolor2;
  text-decoration: none;
  margin-left: 5px;
}

.auth-button {
  background-color: $bgcolor;
  border-width: 0px;
  border-radius: $border-radius;
  height: 60px;
  width: 304px;
  color: $textcolor3;
  font-size: $font-size;
  text-align: center;
  @include align;
  @include margins;
  display: flex;
  align-items: center;
  justify-content: center;
}
