.action-button {
    border-radius: var(--border-radius);
    width: 100%;
    text-align: center;
    padding: 0.5em;
    font-size: var(--font-size-smaller);
    font-weight: var(--font-weight-bold-1);
}

.action-button:not(.cancel-request-button) {
    border: solid 2px var(--primary-theme);
}

.action-button:hover {
    background-color: var(--secondary-theme);
    border-color: var(--secondary-theme);
    color: white;
}

.action-button.cancel-request-button {
    background-color: grey;
    border: none;
    color: white;
    width: 100%;
    height: 100%;
    margin-top: 0.5em;
}