.no-matches-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(100% + 0.15em);
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    border-radius: 8px;
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }

  .fade-in {
    opacity: 1;
  }

  .fade-out {
    opacity: 0;
  }
  
  .no-matches-message,
  .try-something-else-message {
    pointer-events: auto;
  }

  .no-matches-message {
    font-size: 1.2rem;
    font-weight: bold;
    color: #F49D1A;
  }
  
  .try-something-else-message {
    font-size: 0.5rem;
    margin-top: 0.5rem;
    color: #5a5a5a;
  }
