.collage-popup {
  background-color: white;
  border-radius: var(--border-radius);
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  overflow: auto;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.collage-popup.visible {
  opacity: 1;
}

.collage-popup.expanded {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.collage-popup header {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-content);
  color: white;
  font-size: var(--font-size-sub-heading);
  font-weight: var(--font-weight-bold-2);
  position: absolute;
  z-index: 20;
  width: 100%;
}

.collage-popup header button {
  background: none;
  border: none;
  color: white;
  font-size: var(--font-size-heading);
  margin-right: 1em;
  cursor: pointer;
  left: 0;
}

.collage-popup-photos {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.collage-popup-photos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.collage-container-expanded {
  width: 100%;
  height: 100%;
}

.collage-image-wrapper {
  position: relative;
  overflow: hidden;
}

.collage-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: var(--font-size-sub-heading);
  font-weight: var(--font-weight-bold-2);
  cursor: pointer;
}

.collage-popup-function {
  padding: var(--padding-content);
  display: flex;
  justify-content: center;
  align-items: center;
}

.collage-popup-function button {
  padding: var(--padding-content);
  border: none;
  border-radius: var(--border-radius);
  background: var(--secondary-theme);
  text-decoration: none;
  color: white;
}