.slider {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 5;
    max-width: 500px;
    margin: 0 auto;
    padding: 0.5em 0.75em;
}

.slider .buttons-container {
    display: flex;
    justify-content: space-between;
}

.slider .buttons-container button {
    border: none;
    border-radius: 8px;
    padding: 0.5em 0.75em;
    font-weight: 500;
    background-color: white;
    color: #C23B22;
    box-shadow: 0 4px 4px rgba(32, 30, 30, 0.25);

}

.slider .restaurant-cards-container {
    position: relative;
    display: flex;
    height: 140px;
    margin-top: 0.5em;
}

.slider .restaurant-cards-container .restaurant-card {
    position: absolute;
    bottom: 0;
}