.location-options-container {
    display: flex;
}

.location-options-container .use-geolocation-button {
    border-radius: 8px;
    border: solid 1px lightgrey;
    background-color: white;
    margin-right: 1em;
    padding: 0.5em 0.75em;
    font-size: 0.75rem;
}

.location-options-container .icon {
    margin-right: 0.25em;
}

.location-options-container .postcode-input-container {
    border: solid 1px lightgrey;
    border-radius: 8px;
    padding: 0.25em 0.5em;
    display: flex;
    align-items: center;
    max-width: 130px;
}

.location-options-container .postcode-input-container input {
    border: none;
    width: 100%;
    font-size: 0.75rem;
}

.location-options-container .postcode-input-container input:focus {
    outline: none;
}

.location-options-container .postcode-input-container input::placeholder {
    font-size: 0.75rem;
}