.preview-reviews-container button {
    background: none;
    border: none;
}

.preview-reviews-container header {
    background-color: white;
    border-bottom: solid 1px lightgrey;
    margin-bottom: 1em;
}

.preview-reviews-container header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preview-reviews-container header h1 {
    font-size: 1rem;
    font-weight: 500;
}

.preview-reviews-container header button {
    color: var(--secondary-theme);
    font-weight: var(--font-weight-bold-2);
    font-size: var(--font-size-smaller);
}

.preview-reviews-container header button .icon {
    margin-right: 0.5em;
}

.preview-reviews-container .reviews-container .review-card {
    padding: 1em;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}