.preview-reviews-container button {
    background: none;
    border: none;
}

.preview-reviews-container header {
    background-color: var(--dark-theme);
    border-bottom: solid 1px lightgrey;
    margin-bottom: 1em;
}

.preview-reviews-container header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preview-reviews-container header h1 {
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

.preview-reviews-container header button {
    color: var(--secondary-theme);
    font-weight: var(--font-weight-bold-2);
    font-size: var(--font-size-smaller);
}

.preview-reviews-container header button .icon {
    margin-right: 0.5em;
}

.preview-reviews-container .reviews-container .review-card {
    padding: 0.75em;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-between;
    gap: 1em;
    border-bottom: solid 6px var(--primary-theme);
    position: relative;
}

.preview-reviews-container .reviews-container .review-card .container-lhs {
    display: flex;
    gap: 1em;
}

.preview-reviews-container .reviews-container .review-card .container-lhs {
    display: flex;
    gap: 1em;
    width: 85%;
}

.preview-reviews-container .reviews-container .review-card .container-lhs > div:first-child {
    flex-shrink: 0;
}

.preview-reviews-container .reviews-container .review-card .container-lhs .preview {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.5em;
    width: 60%;
    overflow: hidden;
}

.preview-reviews-container .reviews-container .review-card .container-lhs .preview p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: var(--font-size-sub-heading);
}

.preview-reviews-container .reviews-container .review-card h3 {
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-bold-1);
    margin-bottom: 0.25em;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.preview-reviews-container .reviews-container .review-card .container-rhs {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-evenly;
}

.preview-reviews-container .reviews-container .review-card button .icon {
    color: dimgrey;
    font-size: 1.25rem;
}