.search-and-filters {
    position: relative;
}

.search-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3em 0.75em;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(32, 30, 30, 0.25);
    margin-bottom: 0.15em;
}

.search-bar > .icon:first-child {
    margin-right: 0.75em;
}

.search-bar .filter-button {
    margin-left: 0.75em;
    border: none;
    cursor: pointer;
    background-color: white;
}

.search-bar .icon {
    color: #F49D1A;
}

input::placeholder {
    font-size: 0.9rem;
    font-style: italic;
}

input:focus::placeholder {
    visibility: hidden;
}

.search-input {
    height: 100%;
    width: 100%;
    padding: 0.5em 1em;
    border: none;
    border-radius: 8px;
    background-color: #e2e2e2;
    outline: none;
}