.location-options .use-geolocation-button {
    border: none;
    background-color: white;
    padding: 10px 8px 0 8px;
    font-size: 0.75rem;
    text-align: left;
    color: grey;
    display: flex;
    align-items: center;
    width: 100%;
}

.location-options .use-geolocation-button .icon {
    color: grey;
}

.location-options .icon {
    margin-right: 0.4em;
    font-size: 1rem;
}

.location-options .postcode-input-container {
    border: solid 1px lightgrey;
    border-left: none;
    border-right: none;
    padding: 10px 8px;
    display: flex;
    align-items: center;
    width: 100%;
}

.location-options .postcode-input-container input {
    border: none;
    width: 100%;
    font-size: 0.75rem;
    color: var(--secondary-theme);
    font-weight: 500;
}

.location-options .postcode-input-container input:focus {
    outline: none;
}

.location-options .postcode-input-container input::placeholder {
    font-size: 0.75rem;
    color: var(--secondary-theme);
    font-weight: 400;
}

/* Location error popup */
.location-error-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: var(--padding-content);
    border: solid 2px var(--secondary-theme);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 300px;
    text-align: center;
  }
  
  .location-error-popup p {
    margin-bottom: 15px;
    
  }

  .location-error-popup .location-error-title {
    color: var(--secondary-theme);
    font-size: 1.2rem;
    font-weight: 700;
  }

  .location-error-popup .location-error-message {
    color: grey;
    font-size: 0.75rem;
  }
  
  .location-error-popup button {
    background-color: var(--secondary-theme);
    color: #fff;
    border: none;
    padding: var(--padding-content);
    font-size: 14px;
    cursor: pointer;
    border-radius: var(--border-radius);
    transition: background-color 0.3s;
  }

  .location-error-popup button:hover {
    background-color: var(--primary-theme);
  }
  