.link-button {
    display: flex;
    border: none;
    gap: 0.25em;
    color: white;
    font-size: var(--font-size-sub-heading);
    font-weight: var(--font-weight-bold-1);
    background-color: var(--primary-theme);
    border-radius: var(--border-radius);
    padding: 0.5em 0.75em;
    justify-content: center;
    align-items: center;
}

.link-button .icon {
    color: white;
}