@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* -------------------- CSS VARIABLES -------------------- */
:root {
    --primary-theme: #C23B22;
    --secondary-theme: #F49D1A;
    --background-theme: #e8e8e8;

    --font-size-heading: 1rem;
    --font-size-sub-heading: 0.9rem;
    --font-size-smaller: 0.8rem;
    --font-size-icon-large: 1.2rem;
    --font-size-icon-small: 1rem;

    --font-weight-regular: 400;
    --font-weight-bold-1: 500;
    --font-weight-bold-2: 600;
    --font-weight-bold-3: 700;

    --border: solid 1px black;
    --border-radius: 8px;

    --box-shadow: 0 4px 4px rgba(32, 30, 30, 0.25);

    --max-width-content: 500px;

    --margin-align-center: 0 auto;

    --padding-content: 0.75em 1em;
}

/* -------------------- GLOBAL STYLES -------------------- */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: var(--font-weight-regular);
}

body {
    background-color: var(--background-theme);
}

.icon {
    color: var(--secondary-theme);
}

.container {
    max-width: var(--max-width-content);
    margin: var(--margin-align-center);
    padding: var(--padding-content);
}

button {
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}