@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

body {
    background-color: rgba(244, 157, 26, 0.4);
}

.icon {
    color: #F49D1A;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 0.5em;
}

::-webkit-scrollbar{
    display: none;
}