.default-button {
    margin: var(--margin-align-center);
    width: 100%;
    padding: 0.5em;
    border-radius: var(--border-radius);
    font-weight: var(--font-weight-bold-1);
    font-size: var(--font-size-heading);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25em;
}