.search-and-filters {
    position: relative;
    width: 100%;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3em 0.75em;
    background: white;
    border-radius: 8px;
    border: 1px solid lightgrey;
    box-shadow: 0 4px 4px rgba(32, 30, 30, 0.25);
    margin-bottom: 0.15em;
}

.search-bar > .icon:first-child {
    margin-right: 0.75em;
}

.search-bar .filter-button {
    margin-left: 0.75em;
    border: none;
    cursor: pointer;
    background-color: white;
}

.search-bar .icon {
    color: #F49D1A;
}

input::placeholder {
    font-size: 0.9rem;
    font-style: italic;
}

input:focus::placeholder {
    visibility: hidden;
}

.search-input {
    height: 100%;
    width: 100%;
    padding: 0.5em 1em;
    border: none;
    border-radius: 8px;
    background-color: #e2e2e2;
    outline: none;
}

.no-matches-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(100% + 0.15em);
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 8px;
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }

  .no-matches-container.fade-out {
    opacity: 0;
  }
  
  .no-matches-message,
  .try-something-else-message {
    pointer-events: auto;
  }

  .no-matches-message {
    font-size: 1.2rem;
    font-weight: bold;
    color: #F49D1A;
  }
  
  .try-something-else-message {
    font-size: 0.5rem;
    margin-top: 0.5rem;
    color: #5a5a5a;
  }
