.change-icon-popup {
    border-radius: 8px;
    position: absolute;
    background-color: white;
    padding: 0.75em 1.5em;
    width: 95%;
    max-width: 275px;
    z-index: 15000;
    box-shadow: var(--box-shadow);
}

.change-icon-popup .popup-buttons {
    display: flex;
    justify-content: space-between;
}

.change-icon-popup .popup-buttons button {
    font-size: var(--font-size-smaller);
    border: none;
    background: none;
    color: #EBB02D;
}

.change-icon-popup h2 {
    font-size: 0.9rem;
    text-align: center;
    border-bottom: solid 1px var(--background-theme);
    padding-bottom: 0.5em;
    margin: 0.5em 0 1em;
}

.change-icon-popup .icons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75em;
    justify-content: center;
    border-bottom: solid 1px var(--background-theme);
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.change-icon-popup .icons-container .selected .user-icon {
    border: solid 3px grey;
}

.change-icon-popup .apply-button {
    margin: 0 auto;
    width: 100%;
    padding: 0.75em 1em;
    border-radius: 8px;
    background-color: var(--secondary-theme);
    font-weight: 700;
    letter-spacing: 0.05rem;
    font-size: 0.95rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.change-icon-popup .buttons-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.change-icon-popup .buttons-container button {
    background-color: white;
    width: 100%;
    border-radius: var(--border-radius);
    font-size: var(--font-size-sub-heading);
    font-weight: var(--font-weight-bold-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.change-icon-popup .buttons-container button:first-child {
    color: var(--primary-theme);
    border: solid 2px var(--primary-theme);
}

.change-icon-popup .buttons-container button:last-child {
    color: var(--secondary-theme);
    border: solid 2px var(--secondary-theme);
}

.change-icon-popup .buttons-container button div {
    padding: 0.5em 0.75em;
}

.change-icon-popup .buttons-container button:first-child div .icon {
    color: var(--primary-theme);
}

.change-icon-popup .buttons-container button:last-child div .icon {
    color: var(--secondary-theme);
}

.change-icon-popup .buttons-container button:hover {
    color: white;
}

.change-icon-popup .buttons-container button:hover div .icon {
    color: white;
}

.change-icon-popup .buttons-container button:first-child:hover {
    background-color: var(--primary-theme);
}

.change-icon-popup .buttons-container button:last-child:hover {
    background-color: var(--secondary-theme);
}