.confirm-checkin-popup {
    background-color: white;
    position: absolute;
    z-index: 15000;
    color: black;
    top: 7em;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 90%;
    max-width: 220px;
    padding: 0.75em;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    text-align: center;
    border: solid 1px lightgrey;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-bottom: solid 6px var(--primary-theme);
}

.confirm-checkin-popup .date-container {
    background-color: var(--background-theme);
    padding: 0.5em;
    border-radius: var(--border-radius);
}

.confirm-checkin-popup .feedback {
    color: red;
}

.confirm-checkin-popup p span {
    font-weight: var(--font-weight-bold-2);
}

.confirm-checkin-popup .buttons-container {
    display: flex;
    gap: 0.5em;
    justify-content: center;
    margin-top: 0.5em;
}

.confirm-checkin-popup .buttons-container button:first-child {
    background-color: var(--primary-theme);
    color: white;
}

.confirm-checkin-popup .buttons-container button:nth-child(2) {
    background-color: white;
    color: var(--primary-theme);
}

.confirm-checkin-popup .buttons-container button:hover {
    background-color: var(--secondary-theme);
    border-color: var(--secondary-theme);
    color: white;
}

.confirm-checkin-popup .buttons-container button {
    border: solid 2px var(--primary-theme);
    border-radius: var(--border-radius);
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 0.35em 0;
    font-size: var(--font-size-sub-heading);
    font-weight: var(--font-weight-bold-1);
}
