.confirm-checkin-popup {
    background-color: white;
    position: absolute;
    z-index: 15000;
    color: black;
    top: 7em;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 90%;
    max-width: 220px;
    padding: 0.75em;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    text-align: center;
    border: solid 1px lightgrey;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-bottom: solid 6px var(--primary-theme);
}

.confirm-checkin-popup .date-container {
    background-color: var(--background-theme);
    padding: 0.5em;
    border-radius: var(--border-radius);
}

.confirm-checkin-popup .add-friend-button {
    background-color: var(--secondary-theme);
    border-radius: var(--border-radius);
    color: white;
    border: none;
    margin: var(--margin-align-center);
    padding: 0.5em 0.75em;
    display: flex;
    gap: 0.25em;
    align-items: center;
    font-size: var(--font-size-smaller);
    font-weight: var(--font-weight-bold-1);
}

.confirm-checkin-popup .add-friend-button .icon {
    color: white;
}

.confirm-checkin-popup .add-friend-button:hover {
    background-color: var(--primary-theme);
}

.confirm-checkin-popup .select-friends {
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    border: solid 1px lightgrey;
    margin-bottom: 0.5em;
    max-height: 110px;
    overflow: scroll;
}

.confirm-checkin-popup .select-friends .select-friend-card {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.25em 0.5em;
    cursor: pointer;
}

.confirm-checkin-popup .select-friends .select-friend-card:not(:last-child) {
    border-bottom: solid 1px lightgrey;
}

.confirm-checkin-popup .select-friends .select-friend-card .icon-container {
    position: relative;
}

.confirm-checkin-popup .select-friends .select-friend-card .icon-container .icon {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 0;
    left: 0;
    opacity: 0.8;
    color: grey;
}

.confirm-checkin-popup .select-friends .select-friend-card p {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold-1);
}

.confirm-checkin-popup .friends-selected-count {
    font-size: var(--font-size-small);
    margin: -0.5em 0 0.5em;
}

.confirm-checkin-popup .feedback {
    color: red;
}

.confirm-checkin-popup p span {
    font-weight: var(--font-weight-bold-2);
}

.confirm-checkin-popup .buttons-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
    margin-top: 0.5em;
}

.confirm-checkin-popup .buttons-container button:first-child {
    background-color: var(--primary-theme);
    color: white;
}

.confirm-checkin-popup .buttons-container button:nth-child(2) {
    background-color: white;
    color: var(--primary-theme);
}

.confirm-checkin-popup .buttons-container button:hover {
    background-color: var(--secondary-theme);
    border-color: var(--secondary-theme);
    color: white;
}

.confirm-checkin-popup .buttons-container button {
    border: solid 2px var(--primary-theme);
    border-radius: var(--border-radius);
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 0.35em 0;
    font-size: var(--font-size-sub-heading);
    font-weight: var(--font-weight-bold-1);
}
