.details-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    border-bottom: solid 6px #C23B22;
}

.details-page .image-and-info-container .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.details-page .image-and-info-container {
    position: relative;
    height: 320px;
    width: 100%;
    overflow: hidden;
}

.details-page .image-and-info-container .restaurant-info {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1.25em 1em;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    color: white;
}

.details-page .image-and-info-container .restaurant-info .title-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5em;
}

.details-page .image-and-info-container .restaurant-info .title-container h1 {
    width: 60%;
}

.details-page .image-and-info-container .restaurant-info .title-container button {
    color: var(--secondary-theme);
    font-weight: var(--font-weight-bold-1);
    display: flex;
    gap: 0.25em;
    align-items: center;
    background: none;
    border: none;
    font-size: var(--font-size-sub-heading);
    text-align: right;
    white-space: nowrap;
}

.details-page .image-and-info-container .restaurant-info .title-container h1 {
    color: white;
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-bold-2);
}

.details-page .image-and-info-container .restaurant-info .info {
    display: flex;
    gap: 0.5em;
}

.details-page .image-and-info-container .restaurant-info .address p,
.details-page .image-and-info-container .restaurant-info .phone p,
.details-page .image-and-info-container .restaurant-info .price p,
.details-page .image-and-info-container .restaurant-info .open-status {
    color: white;
    font-size: var(--font-size-sub-heading);
    font-weight: var(--font-weight-bold-2);
}

.details-page .details-container {
    padding: 1rem;
    text-align: center;
    overflow-wrap: break-word;
    word-break: break-word;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.details-page .details-container > div:not(:last-child) {
    border-bottom: solid 2px lightgrey;
    padding-bottom: 1rem;
}

.details-page .details-container h2 {
    color: var(--primary-theme);
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-bold-2);
    margin-bottom: 1em;
}

.details-page .details-container p {
    font-size: var(--font-size-sub-heading);
    font-weight: var(--font-weight-bold-1);
    margin: 0;
}

.details-page .details-container .hours {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.details-page .details-container .website a {
    text-decoration: none;
    color: black;
    font-size: var(--font-size-sub-heading);
    font-weight: var(--font-weight-bold-1);
    margin: 0;
}

.details-page .details-container .website a,
.details-page .details-container .website a .icon {
    color: black;
}

.details-page .details-container .website a .icon {
    margin-left: 0.25em;
}

.details-page .details-container .description .read-more-button {
    border: none;
    border-bottom: 2px solid var(--primary-theme);
    background-color: transparent;
    color: var(--primary-theme);
    font-size: var(--font-size-sub-heading);
    font-weight: var(--font-weight-bold-1);
    cursor: pointer;
    padding: 0.25rem 0;
    text-decoration: none;
    outline: none;
}

.details-page .details-container .more-details {
    text-align: left;
}

.details-page .details-container .more-details > div {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

.details-page .details-container .more-details span {
    font-size: var(--font-size-sub-heading);
    font-weight: var(--font-weight-bold-2);
    padding: 0 0.5rem;
}

.details-page .details-container .more-details p {
    padding: 0.25rem 1.75rem;
    font-size: var(--font-size-sub-heading);
}
