.home .navigation-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5em;
    box-shadow: 0 4px 4px rgba(32, 30, 30, 0.25);
    background-color: white;
}

.home .navigation-container .navigation {
    max-width: 500px;
    margin: 0 auto;
}

.home .restaurant-cards-container {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0.5em;
}

.align-spinner {
    display: none; /* change to flex when needs to appear */
    justify-content: center;
    align-items: center;
}