.home .restaurant-cards-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 90vh;
    overflow: scroll;
    padding: 0.5em;
}

.align-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}