.navigation-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    background-color: white;
}

.navigation {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    max-width: var(--max-width-content);
    padding: var(--padding-content);
    margin: var(--margin-align-center);
}

.navigation .upper {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 100;
}

.navigation .upper .search-and-filters {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navigation .upper > .button {
    background-color: var(--background-theme);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: var(--font-size-icon-small);
    padding: 0 0.5em;
    width: 35px;
}

.navigation .upper .filter-button {
    background: none;
    border: none;
    padding: 0 0.5em;
    font-size: var(--font-size-icon-small);
}

.navigation .lower {
    display: flex;
    gap: 0.75em;
}