.navigation-container {
    display: flex;
    gap: 0.25em;
    margin-bottom: 0.5em;
}

.navigation-container .button {
    margin-bottom: 0.15em;
    border: 1px solid lightgrey;
    padding: 0 0.75em;
    background-color: white;
    box-shadow: 0 4px 4px rgba(32, 30, 30, 0.25);
    border-radius: 8px;
    cursor: pointer;
    width: 10%;
}

.navigation-container .button .icon {
    color: #B01E68;
}