.navigation-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    background-color: white;
}

.navigation {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    max-width: var(--max-width-content);
    padding: var(--padding-content);
    margin: var(--margin-align-center);
}

.navigation .upper {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 100;
}

.navigation .upper .search-and-filters {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navigation .upper > .button {
    background-color: var(--background-theme);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 1rem;
    padding: 0 0.5em;
}

.navigation .upper .filter-button {
    background: none;
    border: none;
    padding: 0 0.5em;
    font-size: 1rem;
}

.navigation .lower {
    display: flex;
    align-items: center;
    gap: 0.75em;
}

.navigation .lower .location-button {
    border-radius: 8px;
    border: solid 1px lightgrey;
    background-color: white;
    padding: 0.5em 0.75em;
    font-size: 0.75rem;
    color: grey;
}

.navigation .lower .location-button .icon {
    margin-right: 0.5em;
}

.navigation .lower .sort-filter-selected {
    color: white;
    font-weight: 500;
    font-size: 0.75rem;
    background-color: var(--primary-theme);
    padding: 0.5em 0.75em;
    border-radius: 8px;
    border: solid 1px var(--primary-theme);
    display: flex;
    align-items: center;
}

.navigation .lower .sort-filter-selected .close-button {
    background: none;
    border: none;
    padding: 0;
    margin-right: 0.5em;
}

.navigation .lower .sort-filter-selected .icon {
    color: white;
}