.filters-dropdown {
    position: absolute;
    width: 100%;
    padding: 0.75em;
    background-color: white;
    color: #F49D1A;
    box-shadow: 0 4px 4px rgba(32, 30, 30, 0.25);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    z-index: 20;
}

.filters-dropdown h3 {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.75em;
}