.photos-page-container header {
    background-color: var(--dark-theme);
    border-bottom: solid 1px lightgrey;
    margin-bottom: 1em;
}

.photos-page-container header > div .upper-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
}

.photos-page-container header h1 {
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

.photos-page-container header .upper-nav button {
    color: var(--secondary-theme);
    font-weight: var(--font-weight-bold-2);
    font-size: var(--font-size-smaller);
    background: none;
    border: none;
}

.photos-page-container header .upper-nav button .icon {
    margin-right: 0.5em;
}

.photos-page-container header .lower-nav .toggle-photos-button {
    border: none;
    border-radius: var(--border-radius);
    padding: 0.5em 0.75em;
    font-size: var(--font-size-smaller);
    background-color: var(--dark-theme-contrast);
    color: white;
    display: flex;
    font-weight: var(--font-weight-bold-1);
    align-items: center;
    gap: 0.25em;
}

.photos-page-container header .lower-nav .toggle-photos-button .count {
    background-color: var(--dark-theme);
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold-1);
}

.photos-page-container main {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}