.friends-page-container button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
}

.friends-page-container header {
    background-color: white;
    border-bottom: solid 1px lightgrey;
}

.friends-page-container header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friends-page-container header h1 {
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
}

.friends-page-container header button {
    color: var(--secondary-theme);
    font-weight: var(--font-weight-bold-2);
    font-size: var(--font-size-smaller);
    width: 70px;
}

.friends-page-container header button:first-child {
    justify-content: flex-start;
}

.friends-page-container header button:last-child {
    justify-content: flex-end;
}

.friends-page-container header button .icon {
    margin-right: 0.5em;
}

.friends-page-container header .search-box {
    width: 100%;
    max-width: 100%;
}

.friends-page-container main .links-container .display-button {
    background-color: white;
    color: var(--primary-theme);
}

.friend-icon-container main .add-friend-popup {
    position: absolute;
}

.friends-page-container .links-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.friends-page-container .links-container > div {
    display: flex;
    gap: 0.5em;
}

.friends-page-container .links-container button {
    gap: 0.25em;
    color: white;
    font-size: var(--font-size-sub-heading);
    font-weight: var(--font-weight-bold-1);
    background-color: var(--primary-theme);
    border-radius: var(--border-radius);
    padding: 0.5em 0.75em;
    justify-content: center;
}

.friends-page-container .links-container button .icon {
    color: white;
}

.friends-page-container .friend-icons-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}